<h3 class="mat-headline-4" id="About-me" i18n>About <span>me</span></h3>
<div class="content-container">
  <div class="text-column">
    <p class="mat-body-1" i18n>As a programmer, my journey began with a curious exploration of the digital world, tinkering with basic coding concepts and discovering the thrill of bringing ideas to life through software. Over time, my passion for programming has evolved into a full-fledged career, marked by continuous learning and a drive to push the boundaries of what's possible in the realm of technology.</p>
    <p class="mat-body-1" i18n>Beyond the lines of code, I find inspiration in a diverse array of interests. From delving into the intricacies of artificial intelligence and machine learning to exploring the depths of data visualization and user experience design, I'm constantly seeking new avenues to expand my horizons and innovate in the ever-evolving landscape of technology.</p>
    <p class="mat-body-1" i18n>Technologies:</p>
    <ul>
      <li>TypeScript</li>
      <li>Node.js</li>
      <li>Angular</li>
      <li>React</li>
      <li>WPF</li>
      <li>Android Studio</li>
    </ul>
  </div>
  <div class="image-column">
    <div class="image-container">
      <svg width="245" height="304" viewBox="0 0 245 304" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="12.5823" y="13" width="231.602" height="291" rx="40" fill="#BFC8CA"/>
        <rect x="2.18372" y="2" width="231.602" height="291" rx="40" fill="currentColor" stroke="white" stroke-width="4" stroke-linejoin="bevel"/>
        <path d="M93.144 136.744L72.344 148.904L93.144 160.808L88.536 168.04L63.64 152.552V145.32L88.664 129.768L93.144 136.744ZM99.391 172.52L126.271 116.712L134.079 120.36L107.263 176.168L99.391 172.52ZM169.894 145.256V152.552L144.934 168.04L140.39 161.128L161.126 148.904L140.39 137.064L144.87 129.768L169.894 145.256Z" fill="white"/>
      </svg>
    </div>
  </div>
</div>
