<h3 class="mat-headline-4" id="My-experience" i18n>My <span>experience</span></h3>

<mat-accordion class="example-headers-align" multi>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>UI Engeneer - Ipsum Sp. z o. o.</mat-panel-title>
      <mat-panel-description i18n>Sep 2021 - 2024</mat-panel-description>
    </mat-expansion-panel-header>
    <p i18n>As a UI Engineer, I focused on designing and developing intuitive user interfaces for web applications, ensuring seamless user experiences and collaborating closely with UX designers to implement visually appealing designs.</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Software developer - Dolor Sit</mat-panel-title>
      <mat-panel-description i18n>Dec 2019 - Sep 2021</mat-panel-description>
    </mat-expansion-panel-header>
    <p i18n>As a Software Developer at Dolor Sit, I contributed to the development and maintenance of software solutions, collaborating with cross-functional teams to deliver high-quality products within defined timelines.</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>Frontend Engeneer - Loprem Sp. z o. o.</mat-panel-title>
      <mat-panel-description i18n>Jun 2019 - Oct 2021</mat-panel-description>
    </mat-expansion-panel-header>
    <p i18n>As a Frontend Engineer specializing in Angular, I designed and implemented responsive user interfaces, utilizing Angular framework to create dynamic and interactive web applications.</p>
  </mat-expansion-panel>

</mat-accordion>
